<a href="https://colab.research.google.com/github/LuisCarlosRinconG/CursoPython_UniCafam/blob/main/media_mediana_moda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt

In [7]:
df=pd.read_csv('/content/sample_data/Mock_data.csv')

In [8]:
df

,id,age,service_call_duration,satisfaction_rating,department,start_date,gender
0,1,50,277,2,Recursos Humanos,8/14/2014,Male
1,2,41,203,1,Finanzas,2/21/2016,Female
2,3,44,224,4,Ventas,5/9/2011,Non-binary
3,4,43,108,1,Ventas,6/9/2013,Female
4,5,47,180,3,Finanzas,7/15/2019,Male
...,...,...,...,...,...,...,...
995,996,39,177,4,TIC,12/25/2018,Female
996,997,49,5,3,Recursos Humanos,11/9/2020,Male
997,998,46,217,1,Finanzas,6/24/2021,Female
998,999,32,294,1,TIC,1/12/2015,Female
999,1000,44,33,3,Recursos Humanos,1/7/2021,Female

In [9]:
print(df.head())

   id  age  service_call_duration  satisfaction_rating        department  \
0   1   50                    277                    2  Recursos Humanos
1   2   41                    203                    1          Finanzas
2   3   44                    224                    4            Ventas
3   4   43                    108                    1            Ventas
4   5   47                    180                    3          Finanzas

  start_date      gender
0  8/14/2014        Male
1  2/21/2016      Female
2   5/9/2011  Non-binary
3   6/9/2013      Female
4  7/15/2019        Male

In [11]:
print(df.head(10))
print(df.tail(10))

   id  age  service_call_duration  satisfaction_rating        department  \
0   1   50                    277                    2  Recursos Humanos
1   2   41                    203                    1          Finanzas
2   3   44                    224                    4            Ventas
3   4   43                    108                    1            Ventas
4   5   47                    180                    3          Finanzas
5   6   51                     77                    1          Finanzas
6   7   55                    269                    4            Ventas
7   8   38                    215                    3          Finanzas
8   9   51                     49                    5            Ventas
9  10   40                    222                    1            Ventas

   start_date      gender
0   8/14/2014        Male
1   2/21/2016      Female
2    5/9/2011  Non-binary
3    6/9/2013      Female
4   7/15/2019        Male
5   8/15/2022      Female
6   7/30/2012      Female
7   11/2/2022    Bigender
8  10/19/2022        Male
9  10/27/2019      Female
       id  age  service_call_duration  satisfaction_rating        department  \
990   991   45                    112                    1               TIC
991   992   49                    129                    2          Finanzas
992   993   39                     37                    5         Marketing
993   994   52                    135                    1  Recursos Humanos
994   995   47                    122                    1          Finanzas
995   996   39                    177                    4               TIC
996   997   49                      5                    3  Recursos Humanos
997   998   46                    217                    1          Finanzas
998   999   32                    294                    1               TIC
999  1000   44                     33                    3  Recursos Humanos

     start_date  gender
990   9/25/2016  Female
991    2/5/2022    Male
992  12/14/2011  Female
993   12/8/2010    Male
994   9/20/2015    Male
995  12/25/2018  Female
996   11/9/2020    Male
997   6/24/2021  Female
998   1/12/2015  Female
999    1/7/2021  Female

In [12]:
#contar valores faltantes de cada columna
print(df.isnull().sum())

id                       0
age                      0
service_call_duration    0
satisfaction_rating      0
department               0
start_date               0
gender                   0
dtype: int64

In [13]:
# verificar los tipos de datos
print(df.dtypes)

id                        int64
age                       int64
service_call_duration     int64
satisfaction_rating       int64
department               object
start_date               object
gender                   object
dtype: object

In [14]:
#mostrar info
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     1000 non-null   int64
 1   age                    1000 non-null   int64
 2   service_call_duration  1000 non-null   int64
 3   satisfaction_rating    1000 non-null   int64
 4   department             1000 non-null   object
 5   start_date             1000 non-null   object
 6   gender                 1000 non-null   object
dtypes: int64(4), object(3)
memory usage: 54.8+ KB
None

In [15]:
#mostrar estadisticas descriptivas generales
print(df.describe())

                id          age  service_call_duration  satisfaction_rating
count  1000.000000  1000.000000             1000.00000          1000.000000
mean    500.500000    45.191000              152.08000             2.977000
std     288.819436     7.245344               85.56921             1.416502
min       1.000000    24.000000                1.00000             1.000000
25%     250.750000    40.000000               78.00000             2.000000
50%     500.500000    45.000000              151.00000             3.000000
75%     750.250000    50.000000              225.00000             4.000000
max    1000.000000    70.000000              300.00000             5.000000

Medidas de tendencia central

In [29]:
media_age = df['service_call_duration'].mean()

print(f'la media es: {media_age}')

la media es: 152.08

In [30]:
mediana_age = df['service_call_duration'].median()

print(f'la mediana es: {mediana_age}')

la mediana es: 151.0

In [31]:
mode_age = df['service_call_duration'].mode()

print(f'la moda es: {mode_age}')

la moda es: 0    209
1    261
Name: service_call_duration, dtype: int64